#health-checkup-block
{
    padding:0;
    margin:15px 0;
}


.checkup-block
{
    padding:0px 0 25px;
    

}
.checkup-summary h1
{
    font-size:26px;
    padding-bottom:10px;
}

.checkup-summary span.checkup-age
{
    font-size:14px;
    display:block;
    padding-bottom:10px;
}

.checkup-summary span.incl-test
{
      font-size:16px;
      display:block;
      font-weight:600;
      padding-bottom:10px;
       color:Gray;
}
.checkup-summary p
{
    padding-bottom:0;
    margin-bottom:0;
    line-height:1.9em;
    font-size:12px;
}

.checkup-fq
{
    padding:0px 0 25px;
   
}
.checkup-fq h3
{
    font-size:15px;
    padding-bottom:8px;
    color:#000;
}

.checkup-fq p
{
    font-size:13px;
    margin:0;
    padding:0;
    line-height:1.7em;
     color:#787878;
    
}

.checkup-fq:last-child
{
      border-bottom:0;
}


/* Accordion styles */
.tabs {
  overflow: hidden;
 
}

.Accordion {
  width: 100%;
  color: gray;
  overflow: hidden;
   background:#f6f6f6;
   border-left:0;
   border-right:0;
   padding-bottom:0;
  
}
.Accordion label
{
    margin-bottom:0;
}


.Accordion input[type='checkbox'] {
  display:none;
}


.Accordion-label {
  display: flex;
  justify-content: space-between;
  background: none;
  cursor: pointer;
  font-size:14px;
  color:#333;
  border-bottom:1px dotted #ddd;
  padding:1.2em 0 1.2em;
 
  /* Icon */
}
.Accordion-label:hover {
  background: none;
}
.Accordion-label::after {
  content: "\f107";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  font-size:10px;
  padding-top:3px;
  font-family:fontAwesome;
  font-weight:700;
 font-size:18px;
 color:#7e7e7e;
  
  
}
.Accordion-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: #ededed;
  transition: all .35s;
  font-size:13px;
  position:relative;
  
}
.Accordion-close {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.Accordion-close:hover {
  background: #1a252f;
}

input:checked + .Accordion-label {
  background: #f6f6f6;
  
}
input:checked + .Accordion-label::after 
{
     content: "\f106";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  padding-top:3px;
  font-family:fontAwesome;
  font-weight:700;
 font-size:18px;
 color:#7e7e7e;
  
}


input:checked ~ .Accordion-label {
  border-bottom:0;
   
}
input:checked ~ .Accordion-content {
  max-height: 100vh;
  padding: 1em;
  position:relative;
 border-bottom:1px solid #ddd;
  border-left:1px solid #ddd;
   border-right:1px solid #ddd;
   border-top: solid 1px #ddd;
   
}


input:checked ~ .Accordion-content:before {
 opacity:1;
   
}

.Accordion-content:before
{
    position:absolute;
    content:'';
    height:10px;
    width:20px;
    left:10px;
    top:-10px;
    border-bottom: solid 10px #e5e5e5;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    opacity:0;
      
    
}


/*Similar Packages styles*/


.similar-pack-block
{
    border:1px solid #ccc;
    position:relative;
    overflow:hidden;
    margin:5px 0 10px;
}

.similar-pack-block a.c-all
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.similar-pack-details
{
    padding:10px;
}
.similar-pack-details h3
{
    font-size:16px;
    padding:7px 0;
    color:#333;
}

.similar-pack-details p
{
    font-size:13px;
    color:#787878;
}

.similar-incl-labs
{
   
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:10px 0;
}
.similar-incl-labs div.icld
{
   padding-left:20px;
   font-weight:500;
   padding-bottom:8px;
   font-weight:400;
}
.similar-incl-labs div.icld h3
{
    color:#333;
    font-weight:400;
    font-size:15px;
}


.similar-incl-labs div.icld .nt-ellipssis
{
    
     font-size:11px;
     padding-bottom:2px;
     color:#787878;
     
}

.similar-pack-price
{
    padding:0 10px 10px;
    position:relative;
}
a.sm-viewmore
{
    padding:5px 10px;
    background:#0083d1;
    color:#fff;
    border-radius:30px;
    font-size:14px;
    position:absolute;
    right:10px;
    bottom:0px;
    text-align:center;
}
.sm-viewmore:hover
{
    color:#fff;
    opacity:.9;
}
.similar-pack-price .cost
{
    font-weight:500;
     padding-bottom:5px;
     display:block;
}
.similar-pack-price .cost strike
{
    color:#787878;
    padding-right:7px;
}

.similar-incl-labs svg path
{
    fill:#0083d1;
}


.selected-package-block
{
    padding: 20px 10px 10px;
    background:#fff;
}

.selected-package-block .heading-s-pack h3
{
    font-size:15px; padding:0px 0 8px;
    border-bottom:1px solid #99c9e5;
    margin-bottom:10px;
}

.packname h3
{
    font-size:12px;
     line-height:1.4em;
}
.packname h3 span
{
    display:block;
    padding:10px 0;
   
}
.packprice
{
    font-size:12px;
}
.d-c-name
{
    font-size:12px;
    display:inline-block; padding-bottom:15px;
}

.dc-prc .dis-block
{
    margin-top:3px;
}
.dc-prc .dis-block .discount a
{
    font-size:12px; padding-bottom:3px;
}

.dc-amount
{
    font-size:12px;
}

.total-chechup-price span

{
    font-size:14px;
    font-weight:500;
}

.t-c-price
{
     font-size:14px;
     font-weight:500;
}

.btn-booknow
{
    background:#0083d1;
    color:#fff;
    display:block;
    width:100%;
    margin:15px 0;
    text-align:center;
    padding:7px 0;
    border-radius:30px;
}
.btn-booknow:hover
{
   color:#fff;
   opacity:.9;
}


.ck-offer 
{
    margin-bottom:10px;
    display:flex;
   align-items: flex-start;
    
}

.ck-offer img
{
    padding-top:5px;
}
.ck-offer span
{
    display:block;    
    font-size:12px; 
    margin-left:5px;  
}

#similarpack
{
    margin-bottom:30px;
   
}

